// Main color
$primary-color: #46CDCF;
$secondary-color: #2C8EBF;

// Background color
$bg-color: #323E51;
$home-bg-color: F8F9FA;


// Text color
$primary-text-color:#46CDCF;
$secondary-text-color: #384354;
$muted-text-color: #6B727D;

// color
$color-white: #fff;
$color-black: #000;